<form [formGroup]="form" (ngSubmit)="submit()">
  <fieldset>
    <legend>Account type</legend>
    <label><input type="radio" formControlName="accountType" value="owner" /> Owner</label>
    <label>
      <input type="radio" formControlName="accountType" value="technician" /> Technician
    </label>
  </fieldset>

  <p>
    <label>Phone <input type="tel" formControlName="phone" autocomplete="tel" /></label>
  </p>
  <p>
    <label>Street <input formControlName="street" autocomplete="address-line1" /></label>
  </p>
  <p>
    <label>Number <input formControlName="number" /></label>
  </p>
  <p>
    <label>City <input formControlName="city" autocomplete="address-level2" /></label>
  </p>
  <p>
    <label>Postal code <input formControlName="postalCode" autocomplete="postal-code" /></label>
  </p>
  <p>
    <label>Country <input formControlName="country" autocomplete="country-name" /></label>
  </p>

  @if (accountType() === 'owner') {
    <p formGroupName="owner">
      <label>RUC (11 digits) <input type="number" formControlName="ruc" /></label>
    </p>
  } @else {
    <ng-container formGroupName="technician">
      <p>
        <label>Speciality <input formControlName="speciality" /></label>
      </p>
      <p>
        <label>Certification number <input formControlName="certificationNumber" /></label>
      </p>
    </ng-container>
  }

  <button type="submit" [disabled]="form.invalid || iamStore.loading()">
    Complete registration
  </button>
</form>
